.classCell {
  height: 80px;
  width: 80px;
  margin: 10px;
  border-radius: 50%;
}

.classRow {
  display: flex;
}
.purple {
  background-color: purple;
}
.green {
  background-color: green;
}
.pink {
  background-color: pink;
}
.yellow {
  background-color: yellow;
}
.blue {
  background-color: blue;
}
.invisible {
  visibility: hidden;
}
